!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %title Login
    %link{:href => '/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet', :media => 'screen'}
    %link{:href=>'/bootstrap/css/bootstrap-theme.min.css', :rel=>'stylesheet', :media=>'screen'}
    %link{:href=>'/bootstrap/css/bootstrap-site-theme.css', :rel=>'stylesheet', :media=>'screen'}
    %link{:href => '/css/common.css', :rel=>'stylesheet', :media => 'screen'}

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container#header
      .navbar-header
        %button.navbar-toggle{'data-target'.to_sym => '.navbar-collapse', 'data-toggle'.to_sym => 'collapse', :type => 'button'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href =>  '/'} Ginger

    .container
      .row
        .col-md-6.col-md-offset-3
          %form#login-form.form-inline{:method => 'POST', :action => '/login', :role => 'form'}
            .form-group
              %input.form-control{:type => 'email', :placeholder => 'LDAP username', :name =>  'username'}
            .form-group
              %input.form-control{:type => 'password', :placeholder => 'LDAP password', :name => 'password'}
            .form-group
              %input.form-control.btn.btn-primary{:type => 'submit', :value => 'Login'}

    %script{:src=>'/js/jquery-2.0.3.min.js'}
    %script{:src=>'/bootstrap/js/bootstrap.min.js'}